@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&family=Urbanist:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Urbanist:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");

:root {
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  border: none;
}

body {
  padding-top: 60px;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.qr-code {
  width: 200px;
  height: 200px;
  margin-top: 90px;
}

.virtual-account {
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.note {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
}

.btn {
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 5px 30px;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 300px;
  height: 60px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

.countdown {
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
}

.countdown span {
  color: red;
}
