@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&family=Urbanist:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Urbanist:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  border: none;
}

body {
  padding-top: 60px;
}

html {
  font-size: 62.5%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bddfe6;
  padding: 20px 20px;
  padding: 10px;
  color: black;
  z-index: 1000;
}

.logo {
  text-align: center;
  text-decoration: none !important;
  color: #000000;
}

.logo-text {
  font-family: "Tenor Sans", sans-serif;
  font-size: 45px;
  text-align: center !important;
  margin: 0 auto;
  max-width: 40%;
  font-weight: normal;
  text-decoration: none !important;
  color: #000000;
  transition: transform 0.8s, opacity 0.8s;
}
.logo a {
  text-decoration: none !important;
  transition: transform 0.8s, opacity 0.8s;
}

.profile-dropdown {
  posision: relative;
  width: fit-content;
  margin-right: 100px;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 50px;
  cursor: pointer;
  width: 160px;
  height: 55px;
  transition: box-shadow 0.2s background-color 0.2s;
}

.profile-dropdown-btn:hover {
  background-color: #eaeaea;
  box-shadow: rgb(127, 183, 126, 0.2);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-img {
  position: relative;
  right: 1px;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: url(../img/daffa.png);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: -0.2rem;
  bottom: -0.1rem;
  font-size: 1.5rem;
  color: #4cbb17;
}

.profile-dropdown-list {
  position: absolute;
  top: 80px;
  width: 220px;
  right: 85px;
  background-color: #dce9ec;
  border-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list hr {
  border: 0.2px solid black;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0 0.5rem 1rem;
  transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: #cfcfcf;
}

.profile-dropdown-list-item a {
  display: flex;
  padding: 5px;
  align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
}

.profile-dropdown-list-item a i {
  margin-right: 1rem;
  font-size: 1.5rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: black;
  color: white;
  line-height: 2.3rem;
  text-align: center;
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: 950px;
}

.icon {
  font-size: 24px;
  margin-left: 25px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 15px;
  width: 1200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 160px;
  margin-top: 20px;
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  padding: 20px;
}

.brand-grid img {
  max-width: 40%;
  height: auto;
  margin-left: 60px;
}

.brand-item {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.brand-item img {
  max-width: 50%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.brand-item #line {
  max-width: 80%;
  margin-top: 18px;
}

.brand-item #line1 {
  margin-top: 13px;
}

.brand-item #line2 {
  margin-top: 8px;
  max-width: 60%;
}

.brand-item #line3 {
  margin-top: 3px;
  max-width: 60%;
}

.brand-item #line4 {
  margin-top: 5px;
}

.brand-item #line5 {
  margin-top: 32px;
  max-width: 60%;
}

.brand-item #line6 {
  margin-top: 18px;
  max-width: 60%;
}

.brand-item #line7 {
  margin-top: 12px;
  max-width: 70%;
}

.brand-item #line8 {
  margin-top: 6px;
  max-width: 70%;
}

.brand-item #line9 {
  margin-top: 35px;
  max-width: 70%;
}

.brand-item #line10 {
  margin-top: 20px;
  margin-left: 45px;
  max-width: 60%;
}


.dropdown-content.show {
  display: block;
}

.category {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
}

.menu-item {
  flex: 0 0 auto;
}

.kategori {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.menu-item h2 {
  text-decoration: none !important;
  color: #000000;
}

.menu-item a {
  text-decoration: none !important;
  position: relative;
}

.category .dropdown-content {
  top: 100%;
  left: 0;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  transition: top 0.5s;
}

#search-form.active {
  top: 0;
}

#search-form #search-box:focus {
  outline: none;
}

#search-form #search-box {
  width: 40rem;
  border: none;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 30px;
  text-transform: none;
  background: none;
  text-decoration: none !important;
}

#search-form #search-box::placeholder {
  color: #fff;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: #bddfe6;
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

#search-form #close:hover {
  color: #bddfe6;
}

.trans-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
}

.search-filter {
  text-align: center;
  gap: 10px;
  margin-bottom: 10px;
}

#searchInput {
  width: 350px;
  padding: 15px;
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin: 30px auto;
  margin-right: 10px;
  background: #e5e5e5;
  border-radius: 10px;
}

#filterSelect {
  padding: 15px;
  margin: 20px auto;
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 500;
  background: #e5e5e5;
  border-radius: 10px;
}

.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 35px;
}

.container img {
  height: 150px;
  margin: 20px 40px;
  float: left;
}

.container p {
  margin-top: 90px;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
}

.product-info {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  margin-right: 28px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.variation {
  margin-top: 5px;
}

.price {
  margin-right: 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.detail-button {
  padding: 15px;
  background-color: black;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
}

.status-box {
  width: 90%;
  background-color: #e5e5e5;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 20px 40px;
}

.status-box p {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  font-size: 17px;
  font-weight: 500;
}

button {
  margin-left: 10px;
  padding: 11px 40px;
  background-color: black;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popupContent {
  overflow-y: auto;
  max-height: 80vh;
  width: 900px;
  padding: 20px;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#popupContent::-webkit-scrollbar {
  width: 0.5em;
}

#popupContent::-webkit-scrollbar-track {
  background-color: transparent;
}

#popupContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 10px;
}

hr {
  width: 835px;
  border: 1px solid black;
  margin: 20px 10px;
}

.detail {
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 52px;
  margin-left: 5px;
}

.item {
  width: 835px;
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 40px;
  margin-top: 20px;
  margin-left: 15px;
}

.product-item {
  display: flex;
  background: white;
  align-items: flex-start;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: -10px;
}

.product-item p {
  font-family: "Urbanist", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.product-item img {
  height: 150px;
  margin: 20px 40px;
}

.product-item .product-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 15px;
}

.product-item .product-info p {
  margin: 0;
}

.product-item .product-price {
  margin-top: 10px;
  font-size: 13px;
}

.shipping-info {
  width: 757px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  margin-left: 55px;
}

.shipping-info table {
  margin-top: 10px;
  width: 60%;
}

.payment-details {
  width: 757px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 20px;
  margin-top: 20px;
  margin-left: 55px;
}

.payment-details table {
  margin-top: 10px;
  width: 60%;
}

#closePopupButton {
    width: 350px;
    height: 60px;
    font-family: "Urbanist", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: #fff;
    padding: 15px
    border: none;
    margin-top: 20px;
    margin-left: 260px;
    cursor: pointer;
}

.foot {
  position: relative;
  width: 100%;
  height: auto;
}

.foot .FOOTER {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: transparent;
}

.foot .overlap {
  position: absolute;
  width: 100%;
  height: 336px;
  top: 130px;
  left: 0;
  background-color: #c8e3e9;
}

.foot .line {
  width: 100%;
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.foot .policy {
  position: absolute;
  width: 132px;
  height: 269px;
  top: 60px;
  left: 969px;
}

.foot .overlap-group {
  position: relative;
  width: 128px;
  height: 269px;
}

.foot .order-status {
  position: absolute;
  width: 128px;
  top: 34px;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
}

.foot .text-wrapper {
  position: absolute;
  width: 79px;
  top: 0;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #121212;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.foot .custommer-care {
  position: absolute;
  width: 99px;
  height: 203px;
  top: 60px;
  left: 608px;
}

.foot .clothing-tops {
  position: absolute;
  width: 95px;
  top: 39px;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
}

.foot .clothing-tops a {
  color: #606060;
  text-decoration: none;
}

.foot .div {
  position: absolute;
  width: 76px;
  top: 0;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #121212;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.foot .about-us {
  position: absolute;
  width: 144px;
  height: 191px;
  top: 60px;
  left: 766px;
}

.foot .overlap-2 {
  position: relative;
  width: 140px;
  height: 191px;
}

.foot .career-at-raakdatri {
  position: absolute;
  width: 140px;
  top: 34px;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
}

.foot .career-at-raakdatri a {
  color: #606060;
  text-decoration: none;
}

.foot .text-wrapper-2 {
  position: absolute;
  width: 75px;
  top: 0;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #121212;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.foot .contact {
  position: absolute;
  width: 244px;
  height: 146px;
  top: 60px;
  left: 1160px;
}

.foot .overlap-3 {
  position: relative;
  width: 236px;
  height: 146px;
}

.foot .overlap-4 {
  position: absolute;
  width: 236px;
  height: 146px;
  top: 0;
  left: 0;
}

.foot .text-wrapper-3 {
  position: absolute;
  width: 128px;
  top: 68px;
  left: 29px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-decoration: underline;
}

.foot .text-wrapper-4 {
  position: absolute;
  width: 108px;
  top: 102px;
  left: 29px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-decoration: underline;
}

.foot .p {
  position: absolute;
  width: 207px;
  top: 34px;
  left: 29px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #606060;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.foot .text-wrapper-5 {
  position: absolute;
  width: 164px;
  top: 0;
  left: 1px;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #121212;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.foot .phone-incoming {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 37px;
  left: 0;
}

.foot .map-pin {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 105px;
  left: 0;
}

.foot .mail {
  position: absolute;
  width: 21px;
  height: 14px;
  top: 73px;
  left: 0;
}

.foot .newsletter {
  position: absolute;
  width: 463px;
  height: 170px;
  top: 60px;
  left: 48px;
}

.foot .form {
  position: absolute;
  width: 461px;
  height: 58px;
  top: 76px;
  left: 0;
}

.foot .overlap-group-wrapper {
  width: 463px;
  height: 58px;
}

.foot .overlap-group-2 {
  position: relative;
  width: 461px;
  height: 58px;
}

.foot .rectangle {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #e5e5e5;
}

.foot .email-input {
  position: absolute;
  width: 400px;
  height: 40px;
  top: 0;
  left: 0;
  border: none;
  border-radius: 5px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  font-size: 16px;
  color: #121212;
  padding: 5px;
}

.foot .submit-button {
  position: absolute;
  top: 0;
  left: -55px;
  background: none;
  border: none;
  cursor: pointer;
}

.foot .text-wrapper-6 {
  position: absolute;
  width: 109px;
  top: 14px;
  left: 21px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: #a0a0a0;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

.foot .arrow-right {
  position: absolute;
  width: 25px;
  height: 24px;
  top: 13px;
  left: 424px;
}

.foot .social {
  position: absolute;
  width: 220px;
  height: 24px;
  top: 146px;
  left: -57px;
}

.foot .sign-up-today-and {
  position: absolute;
  width: 304px;
  height: 56px;
  top: 0;
  left: 0;
  font-family: "Urbanist", serif;
  font-weight: 600;
  color: #121212;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
}

.foot .bottom-footer {
  position: absolute;
  width: 100%;
  height: 62px;
  top: 465px;
  left: 0;
}

.foot .element-raakdatri-all {
  position: absolute;
  width: 400px;
  top: 18px;
  left: 650px;
  font-family: "Urbanist", serif;
  font-weight: 400;
  color: transparent;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 22px;
}

.foot .span {
  color: #a0a0a0;
}

.foot .text-wrapper-7 {
  color: #121212;
}

.foot .line-2 {
  width: 100%;
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #000000;
}
