@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Tenor+Sans&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Urbanist:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Urbanist', sans-serif; 
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    overflow: hidden;
}

.content {
    flex-basis: 50%;
    text-align: center;
}

.content h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 80px;
    margin-left: 50px;
}

.content h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    color: #B5B5B5;
}

.form-img {
    flex-basis: 50%;
    text-align: center;
    max-width: 100%;
}

.form-img img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: 67px;
}

form {
    margin-top: 30px;
}

input[type='email'],
input[type='password'] {
    width: 80%;
    height: 70px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 14px 20px;
    margin-bottom: 15px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid #A6A6A6;
    background: #f7fafc;
    transition: 0.3s ease;
}

button {
    width: 80%;
    height: 70px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 14px 20px;
    margin-bottom: 15px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease;
}

input[type='email']:focus,
input[type='password']:focus {
    background: transparent;
    border: 2px solid #B5B5B5;
}

.password-container input[type='text'],
.password-container input[type='password'] {
    padding-right: 40px;
    border-radius: 10px;
    width: 80%;
    height: 70px;
    padding: 14px 20px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 50px;
    border: 2px solid #A6A6A6;
    background: #f7fafc;
    transition: background 0.3s ease, border 0.3s ease;
}

.password-container input[type='text']:focus,
.password-container input[type='password']:focus {
    background: transparent;
    border: 2px solid #B5B5B5;
}

.bx {
    font-size: 1.7rem;
    cursor: pointer;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px; 
}

.toggle-password {
    position: absolute;
    top: 45%;
    right: 75px;
    transform: translateY(-50%);
}

button {
    background: #BDDFE6;
    color: black;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

button:hover {
    background: black;
    color: white;
}

p.forgot {
    text-align: right;
    margin-top: 15px;
    margin-right: 48px;
}

p.forgot a {
    text-align: right;
    margin-top: 10px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

p.other {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
}

.gambar {
    margin-top: 20px;
    margin-left: 50px;
}

.gambar img {
    width: 7%;
}

p.account {
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 50px;
}

p.account a {
    color: red;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p.account a:hover {
    text-decoration: underline;
}